.subject-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(120deg, #6a11cb, #2575fc); */
}

.subject-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem 3rem;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  text-align: center;
  color: #fff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  animation: popIn 0.5s ease;
    background: linear-gradient(120deg, #6a11cb, #2575fc);

}

.subject-card h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
  opacity: 0.9;
}

.button-group {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.subject-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: #fff;
}

.subject-btn.physics {
  background: linear-gradient(90deg, #ff6a00, #ee0979);
}

.subject-btn.chemistry {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
}

.subject-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(255,255,255,0.3);
}

@keyframes popIn {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
